body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #1a1a1a;
	color: #efefef;
	margin: 0;
	padding: 0;
}

.app-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
